@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #18191a; /* Dark gray background */
    --color-bg-secondary: #212529; /* Slightly lighter dark gray for secondary background */
    --color-accent: #71797e; /* Light gray for accents */
    --color-accent-light: rgba(117, 115, 116, 0.1); /* Light gray with opacity */
    --color-text: #ffff; /* White text */
    --color-dark-1: #555555; /* Light gray for dark-1 */
    --color-dark-2: #818589; /* Slightly darker gray for dark-2 */
    --color-dark-3: #d3d3d3; /* Darker gray for dark-3 */
  }

  @font-face {
    font-family: 'agustina';
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  }

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }

  /* ::selection {
    background-color: var(--color-dark-3); /* Highlighted background color */
  /* color: var(--color-text); Highlighted text color  } */
}

/* TYPOGRAPHY */

.heading-secondary,
.h2 {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}
.heading-tertiary,
.h3 {
  @apply text-xl sm:text-2xl tracking-wide capitalize font-medium text-dark-2;
}
